azure-core==1.30.2
azure-iot-device==2.13.1
azure-storage-blob==12.20.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==43.0.1
deprecation==2.1.0
idna==3.7
isodate==0.6.1
janus==1.0.0
numpy==2.0.0
opencv-python==4.10.0.84
packaging==24.1
paho-mqtt==1.6.1
pycparser==2.22
PySocks==1.7.1
requests==2.32.2
requests-unixsocket==0.3.0
six==1.16.0
typing_extensions==4.12.2
urllib3==1.26.19
